<design-systems-webring>
  <p>
    This site is part of <a href="{{ meta.url }}">{{ meta.title }}</a>
  </p>
  <a rel="external" referrerpolicy="strict-origin" href="{{ meta.url }}/prev">Previous</a>
  <a rel="external" referrerpolicy="strict-origin" href="{{ meta.url }}/random">Random</a>
  <a rel="external" referrerpolicy="strict-origin" href="{{ meta.url }}/next">Next</a>
</design-systems-webring>
<script async src="{{ meta.url }}/embed.js" charset="utf-8"></script>
