@use "sass:color";

// Colors
//
// Grayscale.

$gray-darker: #231f20;
$gray-dark: #6f6f6e;
$gray: #54698d;
$gray-light: #a8b7c7;
$gray-lighter: #c9d3e4;
$gray-lightest: #f9f4ff;

// Brand

$brand-primary: #5200cc;
$brand-primary-dark: color.adjust($brand-primary, $lightness: -6%);
// Body
//
// Settings for the `<body>` element.

$body-bg: #8b4dff;
$body-color: $gray-darker;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-system: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-heading: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;

$font-family-base: $font-family-system;
$font-weight-base: 400;
$font-size-base: 1rem;
$line-height-base: 1.625;
