@use "../utils/variables" as *;

.map {
  &__circle {
    fill: transparent;
    stroke: $gray-lightest;
    stroke-width: 1;
  }
  &__title {
    font-size: 0.75rem;
    font-weight: bold;
  }
  &__center {
    fill: $gray-darker;
    fill-opacity: 0.25;
  }
  &__image {
    border-radius: 50%;
  }
  &__node {
    fill: $brand-primary-dark;
  }
  &__tooltip {
    font-weight: bold;
    font-size: 0.75rem;
    fill: $gray-lightest;
  }
}
