* {
  box-sizing: border-box;
}

:root {
  font-size: 100%;
}

:host,
design-systems-webring:not([hydrated]) {
  display: block;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  color: #231f20;
}

.webring-banner {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  max-width: 480px;
}

.webring-banner a {
  color: #6600ff;
  text-decoration: none;
}

.webring-banner a:hover,
.webring-banner a:focus {
  color: #5200cc;
  text-decoration: underline;
}

.webring-banner__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.webring-banner__description {
  flex: 1 0 0%;
  padding-right: 2rem;
}

design-systems-webring:not([hydrated]) img,
.webring-banner__image {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 1rem 0 0;
  border-radius: 50%;
}

design-systems-webring:not([hydrated]) h3,
design-systems-webring:not([hydrated]) h3 a,
.webring-banner__title {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
}

.webring-banner__info {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #ddd;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.75rem;
  text-align: center;
  color: #54698d;
  text-decoration: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.webring-banner__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}

.webring-banner__link {
  display: block;
  text-decoration: none;
  color: #00ad9f;
}

.webring-banner__link--random {
  text-align: center;
}

.webring-banner__link--next {
  text-align: right;
}

@media (min-width: 400px) {
  .webring-banner__link {
    min-width: 100px;
  }
  .webring-banner__info {
    align-items: center;
  }
}
